body{
    margin:0;
    border:0;
    width:100%;
    background-color:black;
}
*{
    box-sizing:border-box;
}
/* header start */
.logo{
    width:26%;
    padding:20px 13px;
}
.logo img{
    width:250px;
    height:auto;
}
header{
    margin:auto;
}
.header_now{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.menu{
    padding-right:20px;
    padding-bottom:50px;
    width:100%;
}
.menu ul{
    display:flex;
    list-style-type:none;
    padding:0 60px 0;
    justify-content:flex-end;
}
.menu ul li a{
    font-weight:700;
    text-decoration:none;
    color:white;
    padding:22px 50px;
    font-size:20px;
    text-align:center;
    background-image:url(img/star.png);
    background-repeat:no-repeat;
    background-position:-30px -26px;
}
.menu ul li a:hover{
    background-image:url(img/bright_start.png);
    transition:0.3s;
}
.menu_footer{
    display:none;
}
/* end header */
/* main start */
main{
    width:100%;
    margin:auto;
}
.video_main{
    padding-bottom:60px;
}   
.video_title{
    text-align:center;
    padding:60px 0 10px;
    box-sizing:border-box;
}
.video_title img{
    width:300px;
}
.video_informacion{
    display:flex;
    justify-content:center;
    grid-gap:15px;
}
.video_informacion img{
    padding-bottom:0;
    transition-duration:0.5s;
}
.video_one{
    width:45%;
    height:auto;
    padding-top:7px;
}
.video_one p,.video_two p{
    color:red;
    text-align:center;
    margin:0;
    font-weight:600;
}
.video_one img:hover, .video_two img:hover{
    transform:scale(1.1);
    transition-duration:0.5s;
}
.video_two{
    width:45%;
    height:auto;
}
.product_item_title{
    padding-bottom:60px;
}
.product_item_title img{
    width:100%;
}
.mv_main_pc{
    width:100%;
}
.label1_background{
    background:url(img/label_red.png);
    background-position:0 30px;
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.label2_background{
    background:url(img/label_blue.png);
    background-position:0 30px;
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.label3_background{
    background:url(img/label_pink.png);
    background-position:0 30px;
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.label4_background{
    background:url(img/label_red2.png);
    background-position:0 30px;
    background-repeat:no-repeat;
    background-size:100% 100%;
}
.product_title{
    width:100%;
    text-align:center;
    padding:95px 218px;
}
.product_title_pc{
    max-width:100%;
    height:auto;
}
.product_detail{
    display:flex;
    justify-content:center;
    align-items:center;
}
.product_detail img{
    width:430px;
    height:auto;
    padding:0 30px;
}
.product_detail p{  
    color:white;
    font-weight:600;
    font-size:27px;
    padding-left:30px;
}
.text_yellow{
    color:#ffff00;
}
.text_blue{
    color:#00b2ff;
}
.text_pink{
    color:#ff5167;
}
.product_special{
    text-align:center;
    padding-top:10px;
}
.product_special img{
    width:100%;
    height:auto;
    padding:0 210px;
}
.product_button{
    text-align:center;
    padding:75px 0 100px;
}
.product_button a{
    position:relative;
    font-size:25px;
    background-color:#f6f600;
    padding:20px 100px;
    font-weight:700;
    box-shadow:1px 1px 1px 1px rgba(246, 246, 243, 0.9),
    -1px -2px 1px 1px rgba(188, 241, 241, 0.9);
    border:none;
    text-decoration:none;
}
.product_button a:hover{
    opacity:0.7;
    transition:0.3s;
}
.product_button .fa-regular::after{
    font-family:'FontAwesome';
    content:'\f054';
    position:absolute;
    right:15px;
    top:20px;
}
.content_button{
    text-align:center;
    padding:118px 30px 150px;
}
.content_button a{ 
    position:relative;
    border:0;
    font-size:30px;
    background-image:url(img/other_item@2x-8.png);
    font-weight:600;
    color:#ffff00;
    padding:60px 210px;
}
.content_button a:hover{
    opacity:0.6;
    transition:0.3s;
}
.fa-regular::after{
    font-family:'FontAwesome';
    content:'\f054';
    position:absolute;
    right:50px;
    top:55px;
    box-sizing:border-box;
}
.recipe{
    display:flex;
    justify-content:center;
    background-image:url(img/recipe_backround.png);
    background-repeat:no-repeat;
    background-size:cover;
    margin-top:50px;
    padding:70px;
}
.history_right img{
    width:420px;
    height:auto;
    padding-right:20px;
}
.recipe_left img{
    width:420px;
    height:auto;
    padding-left:20px;
}
/* end main */
/* footer start */
footer{
    padding:0;
    margin:auto;
}
.contact{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#fff;
}
.footer_banner{
    width:280px;
    height:auto;
}
.fa-brands{
    font-size:20px;
    padding:8px;
}
.fa-twitter{
    font-size:30px;
    color:#fff;
    background-color:#00b2ff;
    border-radius:50%;
}
.fa-facebook-f{
    color:#fff;
    font-size:30px;
    background-color:#1673e1;
    border-radius:50%;
    padding:8px 13px;
}
.contact_icon{
    text-align:center;
    padding:60px 0 90px 80px;
}
.contact_icon a{
    padding-top:20px;
}
.text_share{
    font-size:30px;
    margin-bottom:15px;
    font-weight:700;
}
.text_do{
    font-size:25px;
}
.company_name{
    background-color:#FF0000;
    text-align:center;
}
.company_name img{
    text-align:center;
    padding:40px 0;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:300px;
    height:auto;
}
.company_name h6{
    padding-bottom:20px;
    color:#fff;
    margin:0;
}
/* end footer */

