
/* pc css start */
@media (min-width:769px){
    .mv_main_mobile{
        display:none;
    }
    .product_mobile{
        display:none;
    }
    .break_row_mobile{
        display:none;
    }
    .close_toggle, .toggle{
        display:none;
    }   
    .menu_list_break{
        display:none;
    }
    .product_title_sp, .product_item_title_sp{
        display:none;
    }
    
}
/* end pc css */
/* mobile start */
@media (max-width:768px){
    body{
        margin:0;
        background-color:black;
    }
    .mv_main_pc{
        display:none;
    }
    
    header .toggle{
        display:block;
        margin:0;
    }
    .menu .menu_list{
        display:none;
    
    }
    .menu .menu_list .list_space{
        padding-top:350px;
    }
    .menu .menu_list.active{
        display:block;
        font-weight:600;
        position:fixed;
        width:100%;
        height:100%;
        margin:0px;
        text-align:center;
        background-color:red;
        flex-direction:column;
        top:0;
        bottom:0;
        left:0;
        right:0;
        transition:0.3s;
        padding:50px;
    }
   .menu_footer{
        display:block;
        display:flex;
        text-align:center;
        align-items:center;
        background-color:#fff;
   }
   .menu_list .menu_footer a{
    font-size:30px;
   }
   .menu_footer img{
        width:600px;
   }
    .mv_main_mobile{
        display:block;
        width:100%;
        height:auto;
    }
    .logo{
        position:relative;
        width:100%;
    }
    .logo img{
        width:100%;
        padding:20px;
    }
    .menu ul li{
        padding:85px;
        border-bottom:5px solid #ff4a4a;
    }
    .menu ul li a{
        background-image:none;
        font-size:80px;
        font-weight:700;
    }
    .menu ul li a:hover{
        background-image:none;
    }
    .toggle{
        display:none;
        color:#fff;
        text-align:right;
        padding:30px;
        font-size:20px;
        cursor:pointer;
    }
    .toggle img{
        width:45%;
        height:auto;
        padding:20px;
    }
    .menu_list .close_toggle{
        position:absolute;
        right:0;
        border:none;
        padding-bottom:30px;
    }
    .close_toggle img{
        width:200px;
        padding:20px 20px;
    }
    .video_informacion{
        flex-direction:column;
    }
    .video_title img{
        width:50%;
    }
    .video_one{
        width:100%;
        padding:0 30px;
    }
    .video_two{
        width:100%;
        padding:0 30px;
    }
    .video_one p,.video_two p{
        font-size:35px;
    }
    .product_item_title_pc{
        display:none;
    }
    .product_main{
        background-position:0 420px;
        padding:0;
        margin:0;
    }
    .label1_background{
        background-image:url(img/background_sp_red.png);
        background-repeat:no-repeat;
        background-size:100% 85%;
        background-position:0 -45px;
    }
    .label2_background{
        background-image:url(img/background_sp_blue.png);
        background-repeat:no-repeat;
        background-size:100% 90%;
        background-position:0 -55px;
    }
    .label3_background{
        background-image:url(img/background_sp_pink.png);
        background-repeat:no-repeat;
        background-size:100% 85%;
        background-position:0 -55px;
    }
    .label4_background{
        background-image:url(img/background_sp_red2.png);
        background-repeat:no-repeat;
        background-size:100% 85%;
        background-position:0 -55px;
    }
    .product_item_title{
        padding:0;
    }
    .product_title_pc{
        display:none;
    }
    .product_item_title img{
        width:100%;
        height:auto;
    }
    .product_pc{
        display:none;
    }
    .product_title{
        padding:100px 0 60px 0;
    }
    .product_title_sp{
        width:100%;
        padding-top:150px 20px;
    }
    .product_detail{
        flex-direction:column;
    }
    .product_detail img{
        margin:0;
        padding:0;
    }
    .product_detail p{
        max-width:100%;
        margin:0;
        padding:70px 0 0;
        text-align:center;
    }
    .product_special{
        width:100%;
        padding:0;
    }
    .product_special .product_mobile{
        width:100%;
        padding:0;
        margin:0;
    }
    .product_button{
        align-items:center;
        padding:110px 0 40px;
    }
    .product_button button{
        width:56%;
        height:140px;
        font-size:32px;
    }
    .recipe{
        flex-direction:column;
    }
    .history_right img{
        margin:0;
        width:100%;
        height:auto;
        padding:20px 0px 50px;
    }
    .recipe_left img{
        width:100%;
        height:auto;
        padding:0px 0px 26px;
    }
    .contact{
        flex-direction:column;
    }
    .footer_banner{
        width:100%;
        height:auto;
        padding:50px 24px 0;
    }
    .contact_icon{
        padding:0 0 50px;
    }
    .text_share{
        display:block;
        font-size:50px;
    }
    .text_do{
        font-size:40px;
    }
    .fa-brands{
        padding:0;
        margin:0;
    }
    .fa-twitter{
        padding:18px;
    }
    .fa-facebook-f{
        padding:17px 24px;
    }
    .company_name{
        text-align:center;
        padding:20px;
    }
    .company_name img{
        width:60%;
        height:auto;
        padding:55px 0;
    }
    .company_name h6{
        background-color:#f9d3d4;
        display:inline;
        font-size:24px;
        font-weight:500;
        padding:0;
    }
}
/* end mobile css  */